/* Fonts family*/
@font-face {
  font-family: 'ProximaNova_reg';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype'), url('../fonts/ProximaNova-Regular.svg#ProximaNova-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova_bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff2') format('woff2'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype'), url('../fonts/ProximaNova-Bold.svg#ProximaNova-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
/* Colors */
/* Basic settings */
html {
  font-size: 10px;
}
body {
  font-family: 'ProximaNova_reg', sans-serif;
}
a:hover {
  text-decoration: none;
}
input,
a,
button,
textarea {
  outline: none;
}
.button {
  font-family: 'ProximaNova_reg', sans-serif;
  padding: 1rem 3rem;
  border-radius: 8px;
  font-size: 1.2rem;
  background-color: #fcb303;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.button:hover {
  cursor: pointer;
  background-color: #e3a103;
}
/* Input settings */
.form {
  /* Input field */
  /* Captions to fields */
  /* Button: "Отправить заявку" */
}
.form-input,
.form-textarea {
  display: block;
  margin: 2.1rem 0;
  width: 100%;
  border: 0.1rem solid #dddddd;
  border-radius: 0.5rem;
  padding: 1.7rem;
}
.form label {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  padding: 0.5rem;
  font-size: 1.3rem;
  background-color: #ffffff;
}
.form-btn {
  display: block;
  width: 100%;
  height: 6.8rem;
  font-size: 1.6rem;
}
/* Typography */
section {
  padding: 10rem 0;
}
.section-header {
  margin: 2rem 0 7rem;
  text-align: center;
}
.section-header_light {
  color: #ffffff;
}
.section-header h2 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 3.6rem;
}
.section-header p {
  font-size: 1.4rem;
}
/* Main */
.main {
  padding: 3rem 0 5rem;
  background: url(../img/main-bg.jpg) center center no-repeat;
  background-size: cover;
  /* Subtitle */
  /* Green label */
  /* Trigger */
  /* Main form*/
}
.main-content {
  margin-top: 10.4rem;
  /* Main title */
}
.main-content h1 {
  margin-top: 0;
  margin-bottom: 5.3rem;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 4rem;
  line-height: 5.8rem;
  text-transform: uppercase;
}
.main-subtitle {
  margin-bottom: 5.8rem;
  font-size: 2.4rem;
}
.main span {
  display: inline-block;
  padding: 2rem 4.5rem;
  font-size: 1.8rem;
  color: #ffffff;
  background-color: #46b814;
  /* 300 roubles*/
}
.main span strong {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 3rem;
}
.main-trigger {
  display: block;
  margin-top: 3.6rem;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2.2rem;
  text-transform: uppercase;
}
.main-form {
  padding: 4.8rem 5.1rem;
  background-color: #ffffff;
  text-align: center;
  /* Caption under the button */
}
.main-form-header {
  margin-bottom: 3.7rem;
  font-size: 1.8rem;
}
.main-form small {
  display: block;
  margin-top: 1.4rem;
  font-size: 1.2rem;
}
.header {
  height: 7rem;
}
/* Phone number */
.phone-block {
  text-align: right;
}
.phone-link {
  display: inline-block;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2rem;
  height: 7rem;
  line-height: 7rem;
  color: #1a1820;
}
.wrap {
  display: table;
  width: 100%;
  height: 7rem;
}
.wrap-block {
  display: table-cell;
  vertical-align: middle;
  text-align: right;
}
/* Features parameters */
.features-block {
  text-align: center;
}
.features-block h3 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2rem;
  margin-bottom: 3.5rem;
}
.features-block p {
  display: inline-block;
  font-size: 1.4rem;
  width: 80%;
}
.features-block a {
  color: #46b814;
}
.features-block a:hover {
  text-decoration: underline;
}
.features-img {
  height: 7rem;
  margin-bottom: 6rem;
}
.features-img img {
  display: block;
  margin: 0 auto;
}
.slick-active {
  outline: none;
}
.arrow {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  z-index: 99;
  width: 2rem;
  height: 2rem;
  border: none;
}
.prev {
  left: 0;
  background: url(../img/left-arrow.svg) center no-repeat;
  background-size: 70%;
}
.next {
  right: 0;
  background: url(../img/right-arrow.svg) center no-repeat;
  background-size: 70%;
}
/* Prices section */
.price {
  background: #46b814 url(../img/prices/prices-bg.jpg) center;
  /* Tariff card */
}
.price-header-btn {
  margin-top: 2.5rem;
}
.price-button {
  text-align: right;
}
.price-block {
  min-height: 50rem;
  padding: 1rem 3rem;
  text-align: center;
  -webkit-box-shadow: 0 1.4rem 2.1rem rgba(0, 0, 0, 0.17);
          box-shadow: 0 1.4rem 2.1rem rgba(0, 0, 0, 0.17);
  background-color: #ffffff;
}
.price-block h4 {
  margin: 3rem 0;
  font-size: 1.9rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.price img {
  width: 100%;
  max-width: 30rem;
  display: inline-block;
  margin-bottom: 2rem;
}
.price-tag {
  display: block;
  margin-bottom: 2rem;
  font-size: 1.9rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.price-list {
  padding: 0;
  min-height: 14rem;
  list-style: none;
  font-size: 1.6rem;
  line-height: 1.6;
}
.price-list li:before {
  content: '';
  display: inline-block;
  margin-right: 1rem;
  width: 1.1rem;
  height: 0.9rem;
  background: url(../img/prices/check-mark.svg) center no-repeat;
  background-size: 100%;
  vertical-align: center;
}
/* Feedback */
.feedback {
  position: relative;
  background: url(../img/feedback/feedback-bg.png) 0 0 no-repeat;
  background-size: cover;
  /* Feedback submit*/
}
.feedback-prev-btn {
  left: -4rem;
}
.feedback-next-btn {
  right: -4rem;
}
.feedback-text {
  position: relative;
  margin-top: 2rem;
  padding: 1rem;
  border: 2px solid #46b814;
  font-style: italic;
}
.feedback-text::before {
  content: '';
  display: block;
  position: absolute;
  top: -2rem;
  left: 4rem;
  width: 2rem;
  height: 2rem;
  background-color: #ffffff;
  border: 2px solid #46b814;
  border-bottom: none;
  border-top-right-radius: 100px;
}
.feedback-slider {
  background-color: #ffffff;
  -webkit-box-shadow: 0 1.2rem 1.8rem rgba(0, 0, 0, 0.11);
          box-shadow: 0 1.2rem 1.8rem rgba(0, 0, 0, 0.11);
  padding: 5.5rem 6rem;
  outline: none;
}
.feedback-slider p {
  font-size: 1.6rem;
}
.feedback-slider .media {
  margin-top: 4.5rem;
  font-size: 1.4rem;
}
.feedback-slider .media h4 {
  font-family: 'ProximaNova_bold', sans-serif;
}
.feedback-slider-btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 4rem;
  height: 5rem;
  background-color: #46b814;
  border: none;
}
.feedback-form {
  margin-top: 5.9rem;
  padding: 4rem 10rem;
  background-color: #fff;
  text-align: center;
}
.feedback-form h3 {
  margin-bottom: 2rem;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 2.2rem;
}
.feedback-form label {
  -webkit-transform: translate(-50%, 0.8rem);
          transform: translate(-50%, 0.8rem);
}
.feedback-btn {
  max-width: 30rem;
  margin: auto;
}
.hand {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 30rem;
}
/* Scheme settings */
.scheme {
  background: #ffffff url(../img/scheme/scheme-bg.png) bottom -10rem right -15rem no-repeat;
  background-size: 65rem;
}
.scheme-block {
  min-height: 30rem;
}
.scheme-block h3 {
  font-size: 2rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
/* All inclusive */
.all-inclusive {
  background: #f5f5f5;
}
.all-inclusive .media {
  min-height: 8rem;
}
.all-inclusive .media h4 {
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 1.6rem;
}
.all-inclusive .media p {
  font-size: 1.1rem;
}
.circle {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #46b814;
  border-radius: 50%;
}
.circle-border {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  padding: 0.3rem;
  border: 0.2rem solid #46b814;
  border-radius: 50%;
  text-align: center;
  line-height: 4rem;
  color: #fff;
  font-family: 'ProximaNova_bold', sans-serif;
  font-size: 1.9rem;
}
/* Problems */
.problems {
  position: relative;
}
.problems-girl {
  position: absolute;
  width: 30rem;
  bottom: 0;
  left: 50%;
  margin-left: -19rem;
}
.problems-list {
  border: 0.4rem solid;
  padding: 2rem;
  min-height: 35rem;
  margin-bottom: 2rem;
}
.problems-list h4 {
  font-size: 2.1rem;
  font-family: 'ProximaNova_bold', sans-serif;
}
.problems-list ul {
  list-style: none;
  padding-left: 0;
  padding-top: 2rem;
}
.problems-list ul li {
  position: relative;
  margin-bottom: 3rem;
  padding-left: 2.5rem;
}
.problems-list ul li:before {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 2rem;
  height: 2rem;
  background-color: #000;
}
.problems-list_bad {
  border-color: #e8e8e8;
}
.problems-list_bad h4 {
  opacity: 0.5;
}
.problems-list_bad ul li:before {
  background: url(../img/problems/bad-sign.svg) 0 0 no-repeat;
}
.problems-list_good {
  border-color: #46b814;
}
.problems-list_good ul li:before {
  background: url(../img/problems/good-sign.svg) 0 0 no-repeat;
}
/* Materials */
.materials {
  background: #ffffff url(../img/materials/materials-bg.png) 0 0 no-repeat;
}
.materials img {
  display: block;
  margin: auto;
}
.materials-offer {
  text-align: center;
  margin-top: 4rem;
}
.materials-link {
  display: block;
  color: #46b814;
}
.materials-link:hover {
  color: #348a0f;
}
/* Tour */
.tour {
  background: #ffffff url(../img/tour/bg-tour.png) -37rem no-repeat;
  background-size: cover;
}
.tour-subtitle {
  margin-bottom: 3rem;
  font-size: 2.2rem;
}
/* Upsell */
.upsell {
  background: #286b0a;
  color: #fff;
}
.upsells {
  margin-top: 3rem;
}
.upsell img {
  display: inline-block;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 33rem;
}
.upsell p {
  font-size: 2rem;
}
.upsell-block {
  min-height: 30rem;
  text-align: center;
}
/* Contacts */
.contacts {
  background: #ffffff url(../img/contacts/bg-contacts.png) center bottom no-repeat;
  background-size: cover;
  /* Form-header */
}
.contacts h2 {
  font-family: 'ProximaNova_bold', sans-serif;
}
.contacts p {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.contacts-link {
  display: inline-block;
  color: #1a1820;
  border-bottom: 1px dotted #1a1820;
}
.contacts-link:hover {
  color: #020203;
}
.contacts-form h2 {
  font-size: 1.9rem;
  font-family: 'ProximaNova_reg', sans-serif;
  margin-bottom: 3rem;
}
/* Footer */
footer {
  padding: 4rem 0;
}
.footer-contacts {
  text-align: center;
  padding-top: 0.5rem;
}
.footer-contacts p {
  margin: 0;
}
.footer-dev-logo {
  text-align: right;
}
/* Modal windows */
.popup {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-dialog {
  position: fixed;
  left: 50%;
  top: 10%;
  background-color: #ffffff;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 4rem 6rem;
}
.popup-close {
  position: absolute;
  top: -1.5rem;
  right: -2rem;
  width: 2rem;
  text-align: center;
  border: none;
  background-color: transparent;
  font-size: 3rem;
  color: #ffffff;
}
.popup-form {
  margin-top: 3rem;
  padding: 0;
}
.popup-header,
.popup p {
  text-align: center;
  font-size: 1.8rem;
}
.popup-header {
  font-family: 'ProximaNova_bold', sans-serif;
}
@media (max-width: 1199px) {
  .feedback-form {
    padding: 3rem 5rem;
  }
  .feedback .fotorama {
    margin-bottom: 3rem;
  }
  .all-inclusive .media {
    min-height: 11rem;
  }
  .problems-list {
    min-height: 40rem;
  }
}
@media (max-width: 991px) {
  .main {
    background-position: top right;
  }
  .phone-block {
    text-align: center;
  }
  .main-content {
    margin-top: 13rem;
  }
  .main-title {
    padding-bottom: 3rem;
    text-align: center;
  }
  .price-button {
    text-align: center;
    padding: 2rem 0;
  }
  .price-header-btn {
    margin-top: 0;
    margin-bottom: 2rem;
  }
  .price-block {
    margin-top: 2rem;
  }
  .section-header_light {
    margin-bottom: 0;
  }
  .feedback-form label {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .hand {
    display: none;
  }
  .problems-list {
    min-height: auto;
  }
  .problems-girl {
    display: none;
  }
  .tour {
    background: none;
    background-color: #f5f5f5;
  }
  .tour-content {
    margin-top: 0rem;
  }
  .contacts {
    background: none;
    background-color: #f5f5f5;
  }
  .contacts-form {
    margin-top: 3rem;
  }
  footer {
    text-align: center;
  }
  .footer-contacts {
    margin: 2rem 0;
  }
  .footer-dev-logo {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .main {
    background-position: top left;
  }
  .main-title h1 {
    font-size: 2.4rem;
  }
  .header {
    text-align: center;
  }
  .wrap-block {
    text-align: center;
  }
  .feedback .form {
    padding: 2rem;
  }
  .feedback-slider {
    padding: 3.5rem;
  }
  .feedback-slider .arrow {
    width: 3rem;
    height: 4rem;
  }
  .feedback-slider-btn {
    width: 3rem;
    height: 4rem;
  }
  .feedback-prev-btn {
    left: 0;
    z-index: 99;
  }
  .feedback-next-btn {
    right: 0;
    z-index: 99;
  }
  .scheme {
    background: none;
    text-align: center;
    min-height: 20rem;
  }
}
